<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper">
    <!--查询单个信息-->
    <select id="selectDepartment" resultType="com.chinasoft.pojo.Department">
        select * from department where id = 1
    </select>

    <!--查询所有的信息  -->
    <select id="selectAllDepartment" resultType="com.chinasoft.pojo.Department">
        select * from department
    </select>

    <!--查询一条有参数的  -->
    <select id="selectDepartmentByParameter" resultType="com.chinasoft.pojo.Department" parameterType="Integer">
        select * from department where id = #{id}
    </select>

    <!--增加一条固定参数数据-->
    <insert id="addDepartment">
        insert into department(id,info,obligation,manager)
        values(1,'中软国际实训部门','666666','233333');
    </insert>

    <!--添加一条有参数的记录-->
    <insert id="addDepartmentByParameter" parameterType="com.chinasoft.pojo.Department">
        insert into department(id,info,obligation,manager)
        values(#{id},#{info},#{obligation},#{manager});
    </insert>

    <!--删除一条带参数记录-->
    <delete id="deleteDepartmentByParameter" parameterType="com.chinasoft.pojo.Department" >
        DELETE FROM department WHERE id=#{id};
    </delete>
    <!--更新一条带参数记录-->
    <update id="updateDepartmentByParameter" parameterType="com.chinasoft.pojo.Department">
        UPDATE department
        SET id=#{id},info=#{info},obligation=#{obligation},manager=#{manager}
        WHERE id=#{id};
    </update>
</mapper>