<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.mapper.noticeMapper">


		<!--查询所有记录  select 返回List<notice>-->
	    <select id="selectAllNoticeNoParam" resultType="com.chinasoft.pojo.notice">
	       select * from notice_inf
	    </select>
	    
	    <!-- 查询、分别传入TITLE、CONTENT、TITLE&CONTENT 三个查询 都返回List<notice>  -->
	    <select id="selectAllNoticeByTitle" parameterType="String" resultType="com.chinasoft.pojo.notice">
	       select * from notice_inf where TITLE=#{TITLE}
	    </select>
	    
	    <select id="selectAllNoticeByContent" parameterType="String" resultType="com.chinasoft.pojo.notice">
	       select * from notice_inf where CONTENT=#{CONTENT}
	    </select>
	    
	    <select id="selectAllNoticeByNotice" resultType="com.chinasoft.pojo.notice">
	       select * from notice_inf where TITLE=#{notice.TITLE} and CONTENT=#{notice.CONTENT}
	    </select>
	    
	    <!--添加记录带参数的   insert 返回自增ID-->
	    <insert id="addNoticeByNotice" useGeneratedKeys="true" keyProperty="ID" parameterType="com.chinasoft.pojo.notice">
	        insert into notice_inf(TITLE,CONTENT,CREATE_DATE,USER_ID)
	        values(#{notice.TITLE}
	        ,#{notice.CONTENT}
	        ,#{notice.CREATE_DATE}
	        ,#{notice.USER_ID});
	    </insert>
	    
	    <!-- 更新、传入notice 实例 返回自增ID -->
	    <update id="updateNoticeByNotice" parameterType="com.chinasoft.pojo.notice">
	        update notice_inf
	        set TITLE=#{notice.TITLE} 
	        , CONTENT=#{notice.CONTENT} 
	        , CREATE_DATE=#{notice.CREATE_DATE}
	        where ID=#{notice.ID} 
	    </update>
	    
	    <!-- 删除 、传入notice 实例 返回被影响的行数 -->
	    <delete id="deleteNoticeByNotice" parameterType="com.chinasoft.pojo.notice">
	        DELETE FROM notice_inf 
	        WHERE ID=#{notice.ID}  
	    </delete>
	    
	    
	     <!-- 批量删除记录信息 -->
	    <delete id="batchDeleteNotices" parameterType="int">
	        delete from notice_inf where ID in
	        <foreach item="ID" collection="IDs" open="(" separator="," close=")">
	            #{ID}
	        </foreach>
	    </delete>
		    
</mapper>