<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.mapper.UserMapper">

    
    <!--查询所有的用户信息  -->
    <select id="selectAllUser" parameterType="com.chinasoft.pojo.User" resultType="com.chinasoft.pojo.User">
       select * from user_inf 
       where 
       <if test="username != null">
          username=#{username}
       </if>
       <if test="status != null">
          and status=#{status}
       </if>
    </select>
     <!--查询所有的用户信息  -->
    <select id="selectPreUser" resultType="com.chinasoft.pojo.User">
       select * from user_inf

    </select>
    
    <select id="login" parameterType="user" resultType="user">
		select *
		 from user_inf  where  loginname=#{loginname} and password=#{password}
	</select>
    


    <insert id="addUser"  parameterType="com.chinasoft.pojo.User">
        insert into user_inf(id,loginname,password,status,createdate,username,faceurl,facepath)
        values(#{id},#{loginname},#{password},#{status},#{createdate},#{username},#{faceurl},#{facepath});
    </insert>

   

	<!--删除一条带参数记录-->
    <delete id="deleteUser" parameterType="long" >
        DELETE FROM user_inf WHERE id=#{id};
    </delete>
    
    <!--更新一条带参数记录-->
   	<update id="updateUser"  parameterType="com.chinasoft.pojo.User">
        UPDATE user_inf
        SET username='${username}' , loginname='${loginname}' , status='${status}'
       	where id=#{id};
    </update>

    

</mapper>